<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EventosITPA</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" media="all" href="../css/style.css" />
  <style>
    /* Aquí puedes agregar estilos adicionales */
  </style>
</head>

<body>
  <header>
    <nav id="mainnav" role="navigation">
      <ul>
        <li><a href="../Templates/menu.html"><i class="fa fa-registered"></i><span>Registro</span></a></li>
        <li><a href="../Templates/IniciarSession.html"><i class="fa fa-user"></i><span>Iniciar Sesión</span></a></li>
        <li><a href="#" id="menu-toggle"><i class="fa fa-bars"></i></a></li>
      </ul>
    </nav>
  </header>
  <section>
    <h1>Eventos ITPA</h1>
  </section>
  <script src="../js/scripts.js"></script>
</body>
</html>

